@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section.food-area {
    background-color: beige;
}

h4 {
    font-size: 40px;
    color: darkgreen;
}

.title {
    text-align: center;
    margin-bottom: 60px;
    font-size: 35px;
    padding-top: 50px;
    font-family: 'Raleway';
}

.title p {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: red;
    font-weight: 400;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

img {
    width: 300px;
    height: auto;
    transition: .3s;
    border-radius: 12px 12px 0 0;
}

.foods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.single-food {
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    margin: 20px;
}

.food-img {
    position: relative;
    height: 228px;
    overflow: hidden;
    z-index: 99;
}

h5 {
    position: absolute;
    left: 0;
    top: -52px;
    background-color: #ff7720;
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    padding: 10px 21px;
    font-weight: 500;
    transition: .3s;
    border-radius: 12px 0 0 0;
}

.food-list {
    padding: 20px;
    list-style: none;
}

.food-list li {
    font-weight: 400;
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.food-list li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: bold;
}

.single-food a {
    text-decoration: none;
    background-color: #ff7720;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    width: 95px;
    margin: 20px auto 25px auto;
    border-radius: 9px;
    transition: .3s;
    text-align: center;
}

.single-food a:hover{
    background-color: orange;
}

.single-food:hover .food-img h5 {
    top: 0;
}

.single-food:hover img {
    transform: scale(1.1) rotate(3deg);
}

@media only screen and (min-width:1000px) {
    .container{
        width: 1200px;
    }
}

@media only screen and (min-width:670px) and (max-width:999px) {
    .container{
        width: 750px;
    }
    .single-food{
        flex-basis: 40%;
    }
}

@media only screen and (max-width:669px) {
    .container{
        width: 300px;
    }
    .single-food{
        flex-basis: 100%;
    }
}
/* font-family: 'Raleway', sans-serif; */